body, div, ul, li { margin:0; padding:0; }
a { text-decoration:none; cursor:pointer; }

.contents { width:980px; margin:0 auto; }
.header { position:fixed; top:0; width:100%; height:103px; border:solid 1px #E2E2E2; background-color:#FFFFFF; }
.header .contents {  }
.header .logo { float:left; }
.header .menu { float:right; font-family:arial; font-weight:bold; font-size:12px; line-height:20px; margin-top:62px;  }
.header .menu .item { float:left; list-style-type:none; margin-right:70px; vertical-align:bottom; }
.header .menu .item:last-child { margin-right:10px; }
.header .menu .item .prefix { color:#B2B2B2; }
.header .menu .item .text.current { color:#FF9933; }
.header .menu .item .text { color:#666666; }
.main { margin-top:104px; }
.main .contents { }
.main .contents >div { height:640px; text-align:center; }
.main .product { height:550px !important; padding-top:90px; }
.main .product .list { width:956px; margin:0px auto 0 auto; height:442px; overflow:hidden; }
.main .product .list .prev { float:left; width:34px; }
.main .product .list .next { float:right; width:34px; }
.main .product .list .prev,
.main .product .list .next img { margin-top:201px; }
.main .product .list .view { overflow:hidden; width:888px; }
.main .product .list .items { float:left; width:888px; height:100%; }
.main .product .list .items li { float:left; list-style-type:none; width:220px; height:220px; margin:0 1px 2px 1px; }
.main .product .list .items li img { width:220px; height:220px; }
.main .product .list .items li .out { width:220px; height:220px; }
.main .product .list .items li .over { position:absolute; display:none; opacity:0; filter:alpha(opacity=0); }
.main .product .pagination { margin-top:16px; text-align:center; }
.main .product .pagination li { float:left; list-style-type:none; }
.main .product .pagination .prev,
.main .product .pagination .next { display:none; }
.footer { position:fixed; top:744px; width:100%; height:100%; text-align:center; background-color:#FFFFFF; }